table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table{
    width: 100%;
    height: 10vh;
    text-align: center;
}

/* #sideber {
    background-color: antiquewhite;
    width: 100%;
    height: 10vh;
}

#sideber ul, li {

    text-decoration: none;
}

#sideber a {
    text-decoration: none;
    gap: 10px;
} */

#main {
    width: 90%;
    height: 100vh;
    background-color: blueviolet;
    float: left;
    
}

#main iframe{
    width: inherit;
    height: inherit;
    

}
#right {
    width: 10%;
    height: 100vh;
    background-color: rgb(24, 231, 179);
    float: right;
    
}

#right a{
    text-decoration: none;
    color: rgb(202, 67, 13);

}
#right ul,
#right li{
list-style: none;

}