#homeHeader {
background-color: chocolate;
width: 100%;
height: auto;
}

#myNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.menu {
    display: flex;
}

.menu li {
    list-style: none;
    margin: 5px 10px 5px 10px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    margin: 10px;
}

.menu a:hover {
    background-color: white;
    color: rebeccapurple;
    padding: 5px;
    border-radius: 5px;
}

.menu.active {
    display: flex;
}

.hamburger {
    display: block;
}

#myNav {
    flex-direction: row;
}

.menu li {
    text-align: center;
    margin: 10px 0;
}