/* *{
    margin: 0px;
    padding: auto ;
} */


table, tr, th, td {

    border: 1px solid rgba(17, 98, 153, 0.533);
    border-collapse: collapse;
    text-align: center;
}
table{
    width: 100%;
}
tr{
    color: blue;
}
#nav ul,
#nav li{
    list-style: none;
    float: left;
    display: flex;
    margin: 5px;
    color: aliceblue;
}
#nav{
    background-color: blueviolet;
    width: 100%;
    height: 10vh;
}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    color: red;
    background-color: white
    ;
}