*{
    margin: 0px;
    padding: 0px;
}

#top {
    width: 100%;
    height: 10vh;
    background-color: blueviolet;
}

#left {
    float: left;
    width: 50%;
    height: 80vh;
    background-color: green;
}
#right {
    float: right;
    width: 50%;
    height: 80vh;
    background-color: crimson;
}

#bottom {
    margin-top: 80vh;
    width: 100%;
    height: 10vh;
    background-color: black;
}


