#homeHeader {
    background-color: rgb(201, 110, 189);
    width: 100%;
    height: 60px;
}

#myNav {
    display: flex;
    justify-content: space-between;
    align-items: normal;
    padding: 1px;
}

.logo {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.menu {
    display: flex;
}


.menu li {
    list-style: none;
    text-align: center;
    margin: 5px 10px 5px 10px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.menu a :hover {
    background-color: white;
    color: rgb(45, 218, 203);
    padding: 5px;
    border-radius: 5px;
}

.hamburger {
    font-size: 25px;
    color: rgb(30, 31, 31);
    cursor: pointer;
    display: ruby-text-containers;
}