* {
    margin: 0px;
    padding: 0px;
    /* text-align: center; */
}

.dc {
    width: 100%;
    height: 0 auto;
    text-align: center;
}

.dc table,
.dc tr,
.dc th,
.dc td {
    background-color: azure;
    border: 2px solid red;
    border-collapse: collapse;
    text-align: center;
}


#abc {
    width: 10%;
    height: 100%;
    float: left;

}

#cba {
    width: 90%;
    height: 100vh;



}

#cba iframe {
    width: 100%;
    height: 100%;
}

#abc a {
    text-decoration: none;

}

#abc ul {
    text-decoration: none;
    display: flex;
    gap: 10px;
}

#abc li {
    list-style: none;
}

#sh {
    /* background-color: blueviolet; */
    /* width: 100%;
    height: auto; */
}