* {
    margin: 0px;
    padding: auto;
}

table,
tr,
td {
    border: 2px solid rgb(13, 14, 13);
    border-collapse: collapse;
    text-align: center;
}

#black {
    background-color: black;
}

#yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}